@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600&family=Noto+Sans&display=swap");
body {
  font-family: "Cairo", sans-serif !important;
  background-color: rgb(245, 245, 245) !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.201),
      rgba(0, 0, 0, 0.674)
    ),
    url("./Components/imgHome.jpeg");
}

.titleImg {
  position: absolute;
  top: 10%;
  right: 60%;
  color: rgb(59, 61, 80);
  font-size: 100px !important;
  z-index: -1;
  position: fixed;
}

.doctors {
  margin: 10%;
  margin-top: 30%;
}

.doctors h2 {
  color: white;
  border-bottom: 3px solid #2c2c29;
  border-radius: 5px;
}
.table-responsive {
  background-color: #a8b4be;
  padding: 2em;
  border-radius: 8px;
  opacity: 88%;
}

.color-font {
  color: white !important;
}

.selected {
  background-color: #f7c4c4;
}

.tableAppointment {
  background-color: #dff2e2;
}
