@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600&family=Noto+Sans&display=swap");
body {
  font-family: "Cairo", sans-serif !important;
  font-weight: 600 !important;
  background-color: rgb(245, 245, 245) !important;
}

.doctors{
  margin: 10%;
}

.table-responsive {
  color: white !important;
  background-color: #a8b4be;
  padding: 1em;
  border-radius: 8px;
  
}
tr.hide-table-padding td {
  padding: 0;
}






